#form {
    position: relative;
    width: 500px;
    margin: 50px auto 100px auto;
  }
  
  input {
    font-size: 0.875em;
    width: 470px;
    max-width: 94vw;
    height: 50px;
    padding: 0px 15px 0px 15px;
    
    background: transparent;
    outline: none;
    color: #E1AA44;
    
    border: solid 1px #E1AA44;
    border-bottom: none;
    
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  }

  input::placeholder {
    color: #EECD92;
  }
  
  input:hover {
    background: #E1AA44;
    color: #FFF9E5;
  }
  
  textarea {
    width: 470px;
    max-width: 94vw;
    height: 110px;
    max-height: 110px;
    padding: 15px;
    
    background: transparent;
    outline: none;
    
    color: #ef795a;
    font-size: 0.875em;
    
    border: solid 1px #E1AA44;
    
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  }

  textarea::placeholder {
    color: #EECD92;
  }
  
  textarea:hover {
    background: #E1AA44;
    color: #FFF9E5;
  }
  
  #submit {
    width: 470px;
    max-width: 94vw;
    
    padding: 15;
    margin: -5px 0px 0px 0px;

    background-color: #FFF9E5;
    
    font-size: 0.875em;
    color: #ef795a;
    
    outline:none;
    cursor: pointer;
    
    border: solid 1px #E1AA44;

    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  }
  
  #submit:hover {
    color: #FFF9E5;
    background-color: #ef795a;
  }